services:
  php:
    # Specify the version of Drupal you wish to use for Tugboat below.
    image: tugboatqa/drupal:11
    default: true
    http: false
    depends: mysql
    commands:
      update: |
        set -eux
        # This is an environment variable we added in the Dockerfile that
        # provides the path to Drupal composer root (not the web root).
        cd $DRUPAL_COMPOSER_ROOT
        # We need to change the minimum stability to dev to use the path
        composer config minimum-stability dev
        # We configure the Drupal project to use the checkout of the module as a
        # Composer package repository.
        composer config repositories.tugboat path $TUGBOAT_ROOT
        # Now we can require this module
        composer require drupal/smtp
        # Install Drupal on the site.
        vendor/bin/drush \
          --yes \
          --db-url=mysql://tugboat:tugboat@mysql:3306/tugboat \
          --site-name="Live preview for ${TUGBOAT_PREVIEW_NAME}" \
          --account-pass=admin \
          site:install standard
        # Add tugboat URLs to the Drupal trusted host patterns.
        echo "\$settings['trusted_host_patterns'] = ['\.tugboatqa\.com\$'];" >> $DOCROOT/sites/default/settings.php
        # Set up the files directory permissions.
        mkdir -p $DRUPAL_DOCROOT/sites/default/files
        chgrp -R www-data $DRUPAL_DOCROOT/sites/default/files
        chmod 2775 $DRUPAL_DOCROOT/sites/default/files
        chmod -R g+w $DRUPAL_DOCROOT/sites/default/files

        composer require erusev/parsedown
        vendor/bin/drush --yes pm:enable smtp
        vendor/bin/drush role:perm:add anonymous 'view the administration theme,administer smtp module'
        README=$(cat $TUGBOAT_ROOT/README.md)
        vendor/bin/drush ev "\$Parsedown = new Parsedown(); \$html = \$Parsedown->text(\"$README\"); \$node = \Drupal\node\Entity\Node::create(['type' => 'page', 'title' => 'SMTP - Module Documentation', 'status' => 1, 'body' => ['value' => \$html, 'format' => 'basic_html']]); \$node->save();"
        vendor/bin/drush config:set --yes system.site page.front /node/1
        vendor/bin/drush ev "\$menu_storage = \Drupal::entityTypeManager()->getStorage('menu_link_content'); \$menu_link = \$menu_storage->create(['title' => 'SMTP', 'link' => ['uri' => 'internal:/admin/config/system/smtp'], 'menu_name' => 'main']); \$menu_link->save();"
      build: |
        set -eux
        cd $DRUPAL_COMPOSER_ROOT
        composer install --optimize-autoloader
        # Update this module, including all dependencies.
        composer update drupal/smtp --with-all-dependencies
        vendor/bin/drush --yes updb
        vendor/bin/drush cache:rebuild
  mysql:
    image: tugboatqa/mariadb
